// import { $ } from 'utils'

class {{> componentNamePascalCase }} {
  constructor () {
    this.props = {
      clickMacro: null,
      data: {}
    }
  }

  render () {
    return `
      <div></div>
    `
  }
}

export default {{> componentNamePascalCase }}
